<h2 class='text-center'>Here are all your friends</h2>
<% if @user_friendships.count <= 3 %>
  <p class='text-center'>Not too many of them...</p>
<% end %>
<div class='row'>
  <% @user_friendships.each do |friendship| %>
    <% friend = friendship.friend %>
    <div class='col-sm-12'>
      <div id='<%=dom_id(friendship) %>' class='friend friend-list-element'>
        <div class='avatar-element'>
          <%= link_to user_path(friend) do %>
            <%= image_tag friend.avatar.url, class: 'thumb-img' %>
          <% end %>
        </div>
        <b><%= link_to friend.full_name, user_path(friend), class: 'text-success' %></b>
        <% if friendship.pending? %>
          <p>Friendship is pending.</p>
          <%= link_to 'Delete request', friendship, :method => :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
        <% end %>
        <% if friendship.requested? %>
          <p>Friendship requested.</p>
          <%= link_to 'Accept friendship', friendship, :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-warning' %>
          <%= link_to 'Ingore request', friendship, :method => :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
        <% end %>
        <% if friendship.accepted? %>
          <p>Friendship started <%= friendship.updated_at %> </p>
          <%= link_to 'Destroy', friendship, :method => :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>