<h1>Editing User</h1>

<%= form_for(@user) do |f| %> 
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :last_name %>
    <%= f.text_field :last_name %>
  </div>
  <%= f.label :gender %>
  <%= f.select :gender, User.genders.keys %>

  <%= image_tag(@user.avatar.thumb.url) %>
  <% if !@user.avatar.blank? %>
    <%= f.label :remove_avatar, 'Remove avatar' %>
    <%= f.check_box :remove_avatar %>
    <div class="field">
    <%= f.label :avatar, 'Change Your avatar' %><br>
    <%= f.file_field :avatar %>
  </div>
  <% else %>
    <%= f.label :avatar, 'Add Your avatar' %><br>
    <%= f.file_field :avatar %>
  <% end %>



  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
