<div class='row'>
  <div class='col-sm-12'>
    <div class='edit-user-page'>
      <h1>Settings</h1>
      <%= image_tag(@user.avatar.thumb.url) %>

      <%= form_for(@user) do |f| %> 
        <%= render 'shared/error_messages' %>
        <div class='col-sm-6'>
          <%= f.label :name %>
          <%= f.text_field :name, class: 'form-control' %>
        </div>
        <div class='col-sm-6'>
          <%= f.label :last_name %>
          <%= f.text_field :last_name, class: 'form-control' %>
        </div>
        <div class='col-sm-6'>
          <%= f.label :gender %>
          <%= f.select :gender, User.genders.keys, class: 'form-control' %>
        </div>

        <% if !@user.avatar.blank? %>
          <div class='col-sm-6'>
            <%= f.label :remove_avatar, 'Remove avatar' %>
            <%= f.check_box :remove_avatar, class: 'form-control' %>
          </div>
          <div class='col-sm-6'>
            <%= f.label :avatar, 'Change Your avatar' %>
            <%= f.file_field :avatar, class: 'form-control' %>
          </div>
        <% else %>
          <div class='col-sm-6'>
            <%= f.label :avatar, 'Add Your avatar' %>
            <%= f.file_field :avatar %>
          </div>
        <% end %>
        <div class='col-sm-12'>
          <%= f.submit "Update", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>

