<div class='row profile-page'>
  <div class='col-sm-9'>
    <div class='row'>
      <div class='col-sm-3'>
        <%= image_tag(@user.avatar.url, class: 'normal-avatar') %>
        <% if is_friend %>
          <p>This user is already Your friend</p>
        <% end %>
      </div>
      <p class='col-sm-3'><strong>Name: </strong><%= @user.full_name %></p>
      <p class='col-sm-3'><strong>Email: </strong><%= @user.email %></p>
      <% if @user.gender.nil? %>
        <p class='col-sm-3'><strong>gender: </strong>User did not specify gender</p>
      <% else %>
        <p class='col-sm-3'><strong>gender: </strong> <%= @user.gender %></p>
      <% end %>
    </div>
    <% if logged_in? %>
      <% if current_user.id == @user.id %>
        <div class='row'>
          <div class='col-sm-12'>
            <p><%= link_to 'Add new post', new_post_path, class: 'btn btn-primary add-post-btn' %></p>
          </div>
        </div>
      <% end %>
      <% @user.posts.by_date.each do |post| %>
        <div class='profile-post'>
          <p class='post'><%= raw(post.content) %></p>
          <div class='row'>
            <p class='created-at col-sm-5'><%= post.created_at %></p>
            <% if post.created_at != post.updated_at %>
              <p class='created-at col-sm-6 pull-right text-right'>Updated: <%= post.updated_at %></p>
            <% end %>
          </div>
          <a class="btn btn-primary see-comments-btn" role="button" data-toggle="collapse" href="#commentCollapse-<%= post.id %>" aria-expanded="false" aria-controls="commentCollapse">see comments <span class='comments-count badge'><%= post.comments.count %></span></a>
            <div class="collapse well comments-container" id="commentCollapse-<%= post.id %>">
              <% post.comments.each do |c| %>
                <p class='comment'><%= c.content %></p>
                <p class='comment-author'><%= c.user.name %></p>
                <span class='created-at'><%= c.created_at %></span>
              <% end %>
              <% if logged_in? %>
                <%= link_to 'Add Comment', new_post_comment_path(post_id: post.id), remote: true, class: 'btn btn-info add-comment-btn' %>
                <a class="btn btn-primary see-comments-btn add-comment-btn" role="button" data-toggle="collapse" href="#commentCollapse-<%= post.id %>" aria-expanded="false" aria-controls="commentCollapse">Close comments</a>
                <div class='add-comment add-comment-post-<%= post.id %>'></div>
              <% else %>
                <p class='login-required text-danger'>Please log in to comment on posts</p>
              <% end %>
            </div>
          <% if same_user %>
            <%= link_to 'Edit', edit_post_path(post.id), class: 'btn btn-warning edit-btn' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
  <aside class='col-sm-3'>
    <% if logged_in? %>
      <% if !is_friend && !same_user %>
        <%= link_to 'Request friendship', new_user_friendship_path(friend_id: @user), class: 'btn btn-success' %>
      <% elsif same_user %>
        <h4>Your friendlist:</h4>
        <% if current_user.friends.empty? %>
          <p class='text-danger'>You don't have any friends</p>
        <% else %>
          <% current_user.friends.each do |friend| %>
            <%= link_to friend.full_name, user_path(id: friend), class: 'friend text-success' %></p>
            <%= link_to 'See my friends', friends_path, class: 'btn btn-success see-friends-btn' %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
    <h4>My interests:</h4>
      <p class='interests'><%= @user.interests %></p>
    <% if same_user %>
      <% if @user.interests.nil? %>
        <button class='btn btn-info add-interests-btn' type='button' data-toggle='collapse' data-target='#add_interest' aria-expanded='false' aria-controls='add_interests'>
        Add interests
        </button>
      <% else %>
        <button class='btn btn-info add-interests-btn' type='button' data-toggle='collapse' data-target='#add_interest' aria-expanded='false' aria-controls='add_interests'>
        Change interests
        </button>
      <% end %>
      <div class='collapse' id='add_interest'>
        <%= form_for @user, remote: true do |f| %>
          <%= f.label :interests, 'Add Your interest:' %>
          <%= f.text_area :interests, class: 'form-control' %>
          <%= f.submit "Add interests", class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  </aside>
</div>

  

  



