<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
  
    <%= image_tag(@user.avatar.thumb.url) %>
  
</p>
<p><%= link_to 'Add new post', new_post_path %></p>
<%= link_to 'log out', logout_path, method: :delete %>
