<div class='row'>
  <div class='col-sm-9'>
    <%= image_tag(@user.avatar.url) %>
    <p><strong>Name:</strong><%= @user.name %></p>
    <p><strong>Email:</strong><%= @user.email %></p>
    <p><strong>gender:</strong> <%= @user.gender %></p>
    <p><%= link_to 'Add new post', new_post_path, class: 'btn' %></p>
  </div>
  <aside class='col-sm-3'>

<%= @user.interests %>

    
  </aside>
</div>
  

  



