<div class='posts-container'>
  <div class='row'>
    <div class='col-sm-12'>
      <h2>Latest posts</h2>
    </div>
    <%= form_tag(users_path, :method => "get", id: "search-form", class: 'pull-right') do %>
      <%= text_field_tag :search, params[:search], placeholder: "Search for Friend" %>
      <%= submit_tag "Search", :name => nil, :autocomplete => 'off' %>
    <% end %>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <% @posts.by_date.each do |post| %>
        <div class='single-post'>
          <h4 class='post-author'>
            <%= image_tag post.user.avatar.thumb.url, class: 'thumb-img' %>
            <%= link_to post.user.name, user_path(post.user, post) %>
          </h4>
          <blockquote>
            <p class='post'><%= post.content %></p>
          </blockquote>
          <div class='row'>
            <p class='created-at col-sm-5'>Created: <%= post.created_at %></p>
            <% if post.created_at != post.updated_at %>
              <p class='created-at col-sm-6 text-right'>Updated: <%= post.updated_at %></p>
            <% end %>
          </div>
          <a class="btn btn-primary see-comments-btn" role="button" data-toggle="collapse" href="#commentCollapse-<%= post.id %>" aria-expanded="false" aria-controls="commentCollapse">see comments <span class='comments-count badge'><%= post.comments.count %></span></a>     
          <div class="collapse well comments-container" id="commentCollapse-<%= post.id %>">
            <% post.comments.each do |c| %>
              <p class='comment'><%= c.content %></p>
              <p class='comment-author'><%= c.user.name %></p>
              <span class='created-at'><%= c.created_at %></span>
            <% end %>
            <% if logged_in? %>
              <%= link_to 'Add Comment', new_post_comment_path(post_id: post.id), remote: true, class: 'btn btn-info add-comment-btn' %>
              <a class="btn btn-primary see-comments-btn add-comment-btn" role="button" data-toggle="collapse" href="#commentCollapse-<%= post.id %>" aria-expanded="false" aria-controls="commentCollapse">Close comments</a>
              <div class='add-comment add-comment-post-<%= post.id %>'></div>
            <% else %>
              <p class='login-required text-danger'>Please log in to comment on posts</p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
