<h1>Latest posts</h1>
  <% @users.each do |user| %>
    <% unless user.posts.empty? %>
      <h4><%= user.name %></h4>
      <% user.posts.each do |post| %>
        <p><%= post.content %></p>
        <p><%= post.created_at %></p>
        <% post.comments.each do |c| %>
          <p><%= c.content %></p>
        <% end %>
        <% if logged_in? %>
        <p><%= link_to 'Add Comment', new_comment_path(post_id: post.id), remote: true %></p>
        <div class="comment"></div>
      <% else %>
        <p>Please log in to comment posts</p>
      <% end %>
      <% end %>
    <% end %>
  <% end %>