<header>
  <div class='row'>
    <div class='col-sm-9'> 
      <ul class="nav nav-pills main-nav">
        <li>
          <% if current_page?(root_path) %>
            <%= link_to 'Home', root_path, class: 'active' %>
          <% else %>
            <%= link_to 'Home', root_path %>
          <% end %>
        </li>
        <% unless logged_in? %>
          <li role="presentation">
            <% if current_page?(signup_path) %>
              <%= link_to "Sign up", signup_path, class: 'active' %>
            <% else %>
              <%= link_to "Sign up", signup_path %>
            <% end %>
          </li>
          <li role="presentation">
            <% if current_page?(login_path) %>
              <%= link_to "Sign in", login_path, class: 'active' %>
            <% else %>
              <%= link_to "Sign in", login_path %>
            <% end %>
          </li>
          <% else %>
          <li role="presentation">
            <% if current_page?(logout_path) %>
              <%= link_to "Log out", logout_path, :method => :delete, class: 'active' %>
            <% else %>
              <%= link_to "Log out", logout_path, :method => :delete %>
            <% end %>
          </li>
          <li role="presentation">
            <% if current_page?(current_user) %>
              <%= link_to "Profile", current_user, class: 'active' %>
            <% else %>
              <%= link_to "Profile", current_user %>
            <% end %>
          </li>
          <li role="presentation">
            <% if current_page?(edit_user_path(current_user)) %>
              <%= link_to "Settings", edit_user_path(current_user), class: 'active' %>
            <% else %>
              <%= link_to "Settings", edit_user_path(current_user) %>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
    <div class='col-sm-3'>
    <% if logged_in? %>
      <div class='info-box'>
        <% @user_friendships.each do |friendship| %>
          <% friend = friendship.friend %>
            <% if friendship.requested? %>
              <p>Friendship requests</p><span class='badge'><%= @count %></span>
              <div id='<%=dom_id(friendship) %>' class='friend'>
                <%= link_to friend.full_name, user_path(friend) %>
                <%= link_to 'Accept friendship', friendship, :method => :put, data: {confirm: "Are you sure?"}, class: 'btn btn-warning' %>
                <%= link_to 'Destroy', friendship, :method => :delete, data: {confirm: "Are you sure?"}, class: 'btn btn-danger' %>
              </div>
            <% end %>
        <% end %>
      </div>
      <span class='user-name'> Witaj <%= current_user.name %>!</span>
    <% end %>
    </div>
  </div>
</header>